body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: rgb(255, 255, 185);
}

ol {
  text-align: justify;
}

ul {
  text-align: left;
}

ul,
ol,
.description-content {
  color: orange;
}

h2,
h3 {
  color: red;
  background: green;
}

.header {
  color: lightseagreen;
  background: #b22028;
}
